@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #eee;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #222;
  padding: 2rem;
  display: flex;
  z-index: 9999;
  position: relative;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.116);
  justify-content: space-between;
}
.logo {
  font-size: 2.8rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgb(2, 63, 2), #ffffff, #932929);
  color: transparent;
  -webkit-background-clip: text;
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav-link:link,
.nav-link:visited {
  color: #eee;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
}

li:not(:last-child) .nav-link:hover,
li:not(:last-child) .nav-link:active {
  color: rgb(78, 221, 78);
  border-bottom: 2px solid rgb(78, 221, 78);
}
.btn-green:link,
.btn-green:visited {
  background-color: rgb(142, 8, 15);
  color: #eee;
  transition: all 0.3s;
}
.btn:link,
.btn:visited {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  text-decoration: none;
}
.btn-green:hover,
.btn-green:active {
  background-color: rgb(181, 28, 35);
}

.home-container {
  background-color: #222;
  height: 87.7vh;
}
.home {
  display: flex;
  width: 100%;
  height: 100%;

  /* align-items: center; */

  justify-content: space-evenly;
}
.positioning {
  position: relative;

  width: 50%;
}
.welcome-text {
  position: absolute;
  left: 30%;

  top: 50%;
  transform: translate(0, -50%);
}
.welcome-text h5 {
  color: #932929;
  font-weight: 400;
  font-size: 1.8rem;
}
.salutation {
  display: block;
  text-align: center;
  margin-bottom: 1.2rem;
}
.name {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.2rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.8rem;
}
.welcome-text p {
  font-size: 1.6rem;
  color: #ccc;
  font-weight: 400;
  text-align: center;
}
.image-container {
  width: 50%;
  display: flex;
}
.image-container img {
  align-self: flex-start;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
  transform: rotate(-45deg);
}
.image-container img:hover {
  transform: rotate(0deg) scale(1.2);
}
.button-container {
  display: block;
  text-align: center;
  margin-top: 3rem;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.btn-none:link,
.btn-none:visited {
  color: white;
  font-size: 1.6rem;
  border: 1px solid #932929;
  transition: all 0.3s;
}
.btn-none:hover,
.btn-none:active {
  box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.091);
  background-color: #932929;
}
.button-container:hover {
  transform: translateY(-3px);
}
.btn-none:active {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.342);
  background-color: #932929;
}
.button-container:active {
  transform: translateY(-1px);
}
